* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background: #44b1ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1em 2em;
  transition: background-color 0.3s;
}
button:hover {
  background: #33a4f5;
}

.toast-wrapper {
  position: absolute;
  top: 2em;
  right: 2em;
  background: #fff;
  border-left: 3px solid #44b1ff;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.01);
  padding: 1.2em 2em 1.2em 1.5em;
  display: flex;
  align-items: center;
  overflow: hidden;
  transform: translateX(120%);
  transition: transform 0.5s;
}
.toast-wrapper.active {
  transform: translateX(0);
}

.toast-wrapper .check {
  background: #44b1ff;
  color: #fff;
  padding: 0.5em;
  border-radius: 50%;
  margin-right: 1.5em;
}

.toast-wrapper .toast-content {
  display: flex;
  flex-direction: column;
}

.toast-content span:first-child {
  font-weight: 500;
}
.toast-content span:last-child {
  font-size: 0.9rem;
  font-weight: 300;
}

.toast-wrapper .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.toast-wrapper .close:hover {
  opacity: 1;
}

.toast-wrapper .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #44b1ff;
  transform: translateX(0);
  transition: transform 0s ease 0.5s;
}

.toast-wrapper.active .progress {
  transform: translateX(-100%);
  transition: transform 5s ease;
}
